## Importamos las librerias

In [1]:
import pandas as pd
from pandas import json_normalize
import numpy as np
import json
import warnings
warnings.filterwarnings("ignore")
import ast

## Cargamos el archivo JSON, se crea en un DataFrame y se analiza

In [2]:
# Se carga el archivo JSON
ruta_items = "data_repo/australian_users_items.json"

# se crea una lista para almacenar las filas del archivo JSON
filas_items = []

# Se abre el archivo JSON en modo lectura, asegurándose de usar la codificación UTF-8
with open(ruta_items, encoding="utf-8") as f:
    # se itera sobre cada línea del archivo
    for line in f.readlines():
        # se convierte la línea en un diccionario Python utilizando ast.literal_eval()
        # Esto es seguro ya que sabemos que las líneas contienen expresiones literales de Python válidas (diccionarios)
        fila_dict = ast.literal_eval(line)
        # se agrega el diccionario a la lista de filas
        filas_items.append(fila_dict)

# se crea un DataFrame de Pandas a partir de la lista de diccionarios
df_items = pd.DataFrame(filas_items)
df_items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

In [3]:
df_items.columns

Index(['user_id', 'items_count', 'steam_id', 'user_url', 'items'], dtype='object')

In [4]:
df_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88310 entries, 0 to 88309
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88310 non-null  object
 1   items_count  88310 non-null  int64
 2   steam_id     88310 non-null  object
 3   user_url     88310 non-null  object
 4   items        88310 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB

Se observa que los tipos de datos son objetos y la cantidad de valores no-nulos

Se visualiza que se encuentran los juegos por cada usuario con las siguientes variables:
* user_id : identificador unico de usuario
* user_url : URL perfil del usuario
* items : Items de usuario en formato Json

Trabajos a realizar : 
* Limpieza de valores nulos y duplicados
* Trabajar las variables anidadas
* Borrar las columnas que no son importantes para el analisis

## Trabajaremos con la variable items

la variable items se encuentra con datos anidados, se realiza el trabajo para desnadiar

In [5]:
# se realiza con el método explode() para expandir la columna "items"
df_items = df_items.explode("items")

# se reinicia el índice del DataFrame
df_items = df_items.reset_index(drop=True)

# se muestra el DataFrame resultante
df_items

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike..."
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ..."
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'..."
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla..."
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp..."
...,...,...,...,...,...
5170010,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '373330', 'item_name': 'All Is Dus..."
5170011,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '388490', 'item_name': 'One Way To..."
5170012,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '521570', 'item_name': 'You Have 1..."
5170013,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '519140', 'item_name': 'Minds Eyes..."
5170014,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN

In [6]:
# Se normaliza la columna "items" del DataFrame df_items
df_items_normalizado = pd.json_normalize(df_items["items"])

# se muestra el DataFrame resultante
df_items_normalizado

,item_id,item_name,playtime_forever,playtime_2weeks
0,10,Counter-Strike,6.0,0.0
1,20,Team Fortress Classic,0.0,0.0
2,30,Day of Defeat,7.0,0.0
3,40,Deathmatch Classic,0.0,0.0
4,50,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...
5170010,373330,All Is Dust,0.0,0.0
5170011,388490,One Way To Die: Steam Edition,3.0,3.0
5170012,521570,You Have 10 Seconds 2,4.0,4.0
5170013,519140,Minds Eyes,3.0,3.0
5170014,NaN,NaN,NaN,NaN

In [7]:
# Se concatena los DataFrames df_items y df_items_normalizado a lo largo de las columnas
df_items_final = pd.concat([df_items, df_items_normalizado], axis=1)

# Se muestra el DataFrame resultante
df_items_final

,user_id,items_count,steam_id,user_url,items,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike...",10,Counter-Strike,6.0,0.0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ...",20,Team Fortress Classic,0.0,0.0
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'...",30,Day of Defeat,7.0,0.0
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla...",40,Deathmatch Classic,0.0,0.0
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp...",50,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...,...,...,...,...,...
5170010,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '373330', 'item_name': 'All Is Dus...",373330,All Is Dust,0.0,0.0
5170011,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '388490', 'item_name': 'One Way To...",388490,One Way To Die: Steam Edition,3.0,3.0
5170012,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '521570', 'item_name': 'You Have 1...",521570,You Have 10 Seconds 2,4.0,4.0
5170013,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '519140', 'item_name': 'Minds Eyes...",519140,Minds Eyes,3.0,3.0
5170014,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN,NaN,NaN,NaN,NaN

In [8]:
# Se elimina la columna "items" del DataFrame df_items_final
df_items_final = df_items_final.drop(columns=["items"])
df_items_final

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6.0,0.0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0.0,0.0
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7.0,0.0
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0.0,0.0
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0.0,0.0
...,...,...,...,...,...,...,...,...
5170010,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330,All Is Dust,0.0,0.0
5170011,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490,One Way To Die: Steam Edition,3.0,3.0
5170012,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570,You Have 10 Seconds 2,4.0,4.0
5170013,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140,Minds Eyes,3.0,3.0
5170014,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN,NaN,NaN,NaN

In [9]:
#Se elimina las columnas que no usaremos
df_items_final = df_items_final.drop(columns=["user_url","playtime_2weeks","steam_id"])
df_items_final

,user_id,items_count,item_id,item_name,playtime_forever
0,76561197970982479,277,10,Counter-Strike,6.0
1,76561197970982479,277,20,Team Fortress Classic,0.0
2,76561197970982479,277,30,Day of Defeat,7.0
3,76561197970982479,277,40,Deathmatch Classic,0.0
4,76561197970982479,277,50,Half-Life: Opposing Force,0.0
...,...,...,...,...,...
5170010,76561198329548331,7,373330,All Is Dust,0.0
5170011,76561198329548331,7,388490,One Way To Die: Steam Edition,3.0
5170012,76561198329548331,7,521570,You Have 10 Seconds 2,4.0
5170013,76561198329548331,7,519140,Minds Eyes,3.0
5170014,edward_tremethick,0,NaN,NaN,NaN

In [10]:
df_items_final["item_name"].unique()

array(['Counter-Strike', 'Team Fortress Classic', 'Day of Defeat', ...,
       'ChaosTower', 'Aveyond 4: Shadow Of The Mist', 'Arachnophobia'],
      dtype=object)

In [11]:
# Se define el patrón no deseado
patron_no_deseado = r'[^a-zA-Z0-9\s]'

# Se filtra el DataFrame df_items_final
# Seleccionar las filas donde el valor de la columna "item_name" no contiene el patrón no deseado
df_filtrado = df_items_final[df_items_final["item_name"].str.contains(patron_no_deseado) == False]


df_filtrado

,user_id,items_count,item_id,item_name,playtime_forever
1,76561197970982479,277,20,Team Fortress Classic,0.0
2,76561197970982479,277,30,Day of Defeat,7.0
3,76561197970982479,277,40,Deathmatch Classic,0.0
5,76561197970982479,277,60,Ricochet,0.0
10,76561197970982479,277,3830,Psychonauts,333.0
...,...,...,...,...,...
5170007,76561198329548331,7,304930,Unturned,677.0
5170009,76561198329548331,7,346330,BrainBread 2,0.0
5170010,76561198329548331,7,373330,All Is Dust,0.0
5170012,76561198329548331,7,521570,You Have 10 Seconds 2,4.0
5170013,76561198329548331,7,519140,Minds Eyes,3.0

## Verificamos los datos Nulos, duplicados y se limpian

In [12]:
df_filtrado.isnull().sum()

user_id             0
items_count         0
item_id             0
item_name           0
playtime_forever    0
dtype: int64

In [13]:
duplicados = df_filtrado.duplicated().sum()
duplicados

34474

In [14]:
# Se crea una máscara booleana para identificar las filas duplicadas en df_filtrado
duplicados_mask = df_filtrado.duplicated(keep=False)

# Se seleciona las filas duplicadas utilizando la máscara
filas_duplicadas = df_filtrado[duplicados_mask]
filas_duplicadas

,user_id,items_count,item_id,item_name,playtime_forever
4347,76561198156664158,59,33910,Arma 2,162.0
4350,76561198156664158,59,400,Portal,196.0
4351,76561198156664158,59,620,Portal 2,532.0
4352,76561198156664158,59,105600,Terraria,11660.0
4354,76561198156664158,59,227280,No Time to Explain,315.0
...,...,...,...,...,...
4910932,76561198080057659,39,205790,Dota 2 Test,0.0
4910933,76561198080057659,39,223470,POSTAL 2,43.0
4910935,76561198080057659,39,8870,BioShock Infinite,1184.0
4910937,76561198080057659,39,107410,Arma 3,178.0
4910939,76561198080057659,39,221910,The Stanley Parable,53.0

se observa los duplicados y corresponden al mismo usuario pero con algunas variables iguales (user_id, utems_count, steam_id) pero varia el juego por lo tanto se decide conservarlas.

Se agrega una nueva columna playtime_hour, para ver la cantidad de horas jugadas

In [15]:
df_filtrado["playtime_hour"]= df_filtrado["playtime_forever"]/60
df_filtrado

,user_id,items_count,item_id,item_name,playtime_forever,playtime_hour
1,76561197970982479,277,20,Team Fortress Classic,0.0,0.000000
2,76561197970982479,277,30,Day of Defeat,7.0,0.116667
3,76561197970982479,277,40,Deathmatch Classic,0.0,0.000000
5,76561197970982479,277,60,Ricochet,0.0,0.000000
10,76561197970982479,277,3830,Psychonauts,333.0,5.550000
...,...,...,...,...,...,...
5170007,76561198329548331,7,304930,Unturned,677.0,11.283333
5170009,76561198329548331,7,346330,BrainBread 2,0.0,0.000000
5170010,76561198329548331,7,373330,All Is Dust,0.0,0.000000
5170012,76561198329548331,7,521570,You Have 10 Seconds 2,4.0,0.066667
5170013,76561198329548331,7,519140,Minds Eyes,3.0,0.050000

El dataframe limpio de Items (Informacion de juegos por usuario) contiene las siguientes columnas:
* user_id : Id de usuario
* items_count : Cantidad de juegos por usuario
* item_id : Id del juego
* item_name : Nombre de juego
* playtime_forever : Tiempo jugado en minutos
* playtime_hour : Timpo juego en horas

In [16]:
archivo_limpio = "data_repo/users_items_limpio.csv"
df_filtrado.to_csv(archivo_limpio, index=False, encoding="utf-8")
print(f"Se guardó el archivo {archivo_limpio}")

Se guardó el archivo data_repo/users_items_limpio.csv